doctype html
head
  link(rel='stylesheet' type='text/css' href='css/bmi.css')
  link(href='https://fonts.googleapis.com/css?family=Noto+Sans' rel='stylesheet')
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  title BMI checker
.header
  .wrapper
    form(action='/' method='POST')
      h1 BMI calculator
      p Insert Your Age
      input#age(name='age' type='text' value= age)
      p Insert Weight in Kg
      input#weight(name='weight' type='text' value= weight)
      br
      p Insert Height in cm
      input#height(name='height' type='text' value= height)
      br
      button#calc(type='submit' name='submit') check
      p.result= result
